{:profiles
 {:Default     {:default true
                :sim     50
                :delay   500
                :alone   500
                :held    500}}
 :applications {:vmware   ["^com\\.vmware\\.fusion$"]
                :emacs    ["^org\\.gnu\\.Emacs$"]
                :firefox  ["^org\\.mozilla\\.firefox$"]}
 :main         [
                {:des "caps to ctrl modifier"
                 :rules [[:##caps_lock :left_control]]}

                {:des "left ctrl to right ctrl"
                 :rules [[:##left_control :right_control]]}
                ]}
