{:profiles
 {:Default {:default true
            :sim   50
            :delay 500
            :alone 500
            :held  500}}
 :main      [{:des "caps to ctrl modifier" :rules [[:##caps_lock    :left_control]]}
             {:des "ctrl modifier to caps" :rules [[:##left_control :caps_lock]]}
             {:des "Press left_shift twice to enter double shift mode, press left_shift once to leave it"
              :rules [[:left_shift ["double-left-shift-mode" 1] ["shift-pressed-once" 1]]
                      [:left_shift [:left_shift ["shift-pressed-once" 1]] ["double-left-shift-mode" 0] {:delayed {:invoked ["shift-pressed-once" 0] :canceled ["shift-pressed-once" 0]}}]
                      :double-left-shift-mode
                      [:left_shift ["double-left-shift-mode" 0]]
                      [:escape ["double-left-shift-mode" 0]]
                      [:up_arrow :!TOup_arrow]
                      [:down_arrow :!TOdown_arrow]
                      [:right_arrow :!TOright_arrow]
                      [:left_arrow :!TOleft_arrow]]}]}
